# Assignment 1 - Python and Data Fundamentals

#### Overview 
A simple DBMS system implemented in python. Here we will pass the basic SQL select statments to the program and it will return the outputs based on the table name and attributes specified in the query.

<b> Author </b>: Harpreet Singh (github : https://github.com/harpreetahluwalia)<br> 
<b> Date of Creation</b> : 05/10/2021

## Assignment 1.1 findTable() function
#### Following function findTable which receives a simple SQL statement str as string and returns the name of the table after the from keyword.
It takes a string as parameter and splits it on the basis on spaces and finds index after "from" keyword.

In [1]:
def findTable(self, str):
    
    """
    Receives a simple SQL statement str as string 
    and returns the name of the table after the from keyword.
    
    Parameters : 
        - str : a string variable which represents sql query.
        
    Returns :
        - It returns the name of the table. 
    
    """
    s = str.lower().split(" ")       # Splitting the string by space after making it lowercase
    tableIndex = s.index("from")+1    # Getting index just after the "from" keyword in the query
    return s[tableIndex]

## Assignment 1.2 getAttributes() function
#### Following function getAttributes which returns the attributes of a select statement which are located between select and from statement.
It takes string as a parameter and fetches the attributes list using index and returns the list.

In [2]:
def getAttributes(self, str):
    
    """
    It returns the attributes of a select statement,
    which are located between select and from statement.
    
    Parameters : 
        - str : a string variable which represents sql query.
    Returns : 
        - It returns the list of the attributes. 
    """
    
    s = str.lower().split(" ")      # Splitting the string by space after making it lowercase
    aIndex1 = s.index("select")+1
    aIndex2 = s.index("from")
    attributesList = ("".join(s[aIndex1:aIndex2])).split(",") #Creating attributes list between 2 indexs (i.e between select and from)   
    return attributesList

## Assignment 1.3 Attributes class
#### Attributes class holds the list of attributes from the query. 
It stores name and type of the given attribute which are initialized in the constructor

In [3]:
class Attributes:
    
    def __init__(self, name, type):
        self.name = name
        self.type = type

## Assignment 1.4 - Tables class
#### Table class contains a list of “Attributes” named attributes and a list of lists called rows. Table also contains a name attribute.

It contains list of "Attributes" and list of list called rows which are initilized in the constructor. There are also addRow() and addAtt() member functions to assign rows and attributes. There's also 2 getters getAtt() and getRow() to fetch the attributes and rows.

In [4]:
class Tables:

    name = ""  
    def __init__(self,name):
        self.rows = []    # initializing rows with empty list
        self.attributes = []   # initializing attributes with empty list
        self.name = name
        
    def addRow(self,rows):
        self.rows = rows[:]
        
    def addAtt(self,attributes):
        self.attributes = attributes[:]
        
    def getAtt(self):
        return self.attributes
    
    def getRow(self):
        return self.rows

## Assignment 1.5 - Database Class
#### Database class contains a list of Tables called tables. It also contains 2 below member functions read() and select() which reads the data from csv and outputs the data based on the query respectively

## Assignment 1.6 - read() function
#### <b> Database.read (tablename, filename) :</b> 
It reads a CSV file provided in the "filename" which creates a table named "tablename" and adds it to its tables list. It creates the object of Attribute and Table class, and stores the data to specific object so that we can access it later in select() function. 

## Assignment 1.7 - select() function
#### Database.select(query, count) : </b> 
It receives a simple select statement as "query" and returns the results as a formatted table up to "count" no. of rows. In this, findTable(str) and getAttributes(str) functions will be used to fetch table name and attributes. It uses specific table and attribute object to access the data from the Table and Attribute class.

In [5]:
class Database: 
    
    def __init__(self):
        self.tables = []       # initializing the tables list
    j = 0
    tablename = ""
    values = []

    def read(self, tablename, filename):

        """
        Reads a CSV file provided in the "filename" which creates a table named "tablename" 
        and adds it to its tables list. It creates the object of Attribute and Table class, 
        and stores the data to specific object so that we can access it later in select() function.
    
        Parameters :
        ----------
            - tablename : name of the table
            
            - filename : name of the file from where data will be fetched.
            
        """
        flag = 0
        self.tablename = tablename
        rows = []
        attributesList = []
        f = open(filename, "r")   #opening the csv file and reading line by line 
        for x in f:
            values = []
            #stripping string with any newline operators at the end or spaces, and splitting by ","
            x = x.strip()
            splitStr = x.split(",")
            if (flag == 0) :  # using flag to indentify the attributes row
                for i in splitStr:
                    # appending the Attribute class objects the attributesList
                    attributesList.append(Attributes(i, type = "String"))
                
                flag = flag + 1
                
            else:
                for i in splitStr:
                    # Storing the table data to lists
                    values.append(i) 
                rows.append(values)
            
            # Creating specific Table class object and adding rows and attributes using member functions of Tables class
            
        tableObj = Tables(tablename)   
        tableObj.addRow(rows)
        tableObj.addAtt(attributesList)
        self.tables.append(tableObj)

    def select(self, query,count = None):
        
        """
        Receives a simple select statement as "query" and returns the results as a formatted table up to "count" no. of rows. 
        In this, findTable(str) and getAttributes(str) functions will be used to fetch table name and attributes. 
        It uses specific table and attribute object to access the data from the Table and Attribute class.
        
        Parameters : 
        ----------
            - query : It is select statment to fetch data. eg. select * from students
            
            - count : It represents no. of rows of data should be present.
        
        """
 
        tableName = findTable(self, query)    # Using fintTable function that returns tableName from query
        queryAttribute = getAttributes(self, query) # Using getAttributes function that returns list of attributes from query
        temp = 0
        tableNames = []
        for i in self.tables:
            colNo = []
            flag = 0
            if i.name == tableName:
                for attribute in queryAttribute:
                    if attribute == "*":     # If attribute "*" is given in query it will print all the data and "count" variable becomes total lenth of table data rows.
                        count = len(i.rows)
                        for j in i.rows:
                            for c,k in enumerate(j):
                                colNo.append(c)
                            break
                    
                    for index, tableAttribute in enumerate(i.getAtt()):
                        if attribute.lower() == tableAttribute.name.lower():
                            colNo.append(index)  # Getting the column number index of attributes present in the query
                for j in range(len(i.rows)):
                    if temp == count:
                        break
                    for col in colNo:
                        if (flag == 0): # using flag to print the attributes row
                            print(('\033[1m' + i.attributes[col].name), "\t\t", end="") # Printing  Attributes of table based on query
                    flag += 1
                    print("\n")
                    for col in colNo:
                        print('\033[0m'+(i.rows[j][col]), "\t\t", end="") # Printing  table rows based on query

                    
                    temp += 1

                
                print("\n\n")
           
        for i in self.tables:
            tableNames.append(i.name)
            # If given TableName in query is not present in database, it will throw below output messege. 
        if tableName not in tableNames:   
            print("Table name: "+ '\033[1m' + tableName + '\033[0m' +" Not Found, Please enter correct table name. ")
        else:
            pass

### Creating "db" object of class Database

In [6]:
db = Database()

### Reading table data from the file using read() function from Database class

In [7]:
db.read("students", "studentData.csv")

### Passing the query to select() function 
Calling the select function using db object of Database class.<br>
Here we are passing query <b>"select * from students"</b>, hence its printing all the table data from <b>students</b> table

In [8]:
db.select("select * from students")

ID 		Name 		Age

1 		John 		20

2 		Mary 		19

3 		Alex 		20

4 		Harry 		21

5 		Rahul 		46

6 		Harry 		21

7 		Jason 		65

8 		Matt 		31

### Using query with attribute names
Here we are passing the query <b>"select Name,age from students"</b> and count value is passed as 5. <br>
Thus, its printing columns of name and age.<br>
Count of rows is also 5 as passed in parameter.<br><br>
<i> Note : Query is case insenstive. eg. for attributes, we can use nAME, AgE etc., It will print the required result. </i>

In [9]:
db.select("select Name,age from students",5)

Name 		Age

John 		20

Mary 		19

Alex 		20

Harry 		21

Rahul 		46

In [10]:
db.select("select Name,id,age from students",5)

Name 		ID 		Age

John 		1 		20

Mary 		2 		19

Alex 		3 		20

Harry 		4 		21

Rahul 		5 		46

 <i> In case, wrong table name is provided, it will throw below error message. </i>

In [11]:
db.select("select Name,age from studentsData",5)

Table name: studentsdata Not Found, Please enter correct table name.

### Reading another table in same database
Here we will read another table called "users" from userData.csv file using the same db object. i.e in same database

In [12]:
db.read("users", "userData.csv")

### Getting another table output using select() function
Here we pass query for another table using "select * from users" which prints all the data in the table.

In [13]:
db.select("select * from users")

ID 		Name 		City 		Nation 		Language

1 		Jason 		Regina 		Canada 		French

2 		Gordan 		Surrey 		UK 		English

3 		Harry 		Denver 		US 		English

4 		Rahul 		Delhi 		India 		Hindi

5 		Matt 		Dubai 		UAE 		Arabic

6 		Sean 		Paris 		France 		French

#### Passing query with attribute names and count for another table

In [14]:
db.select("select name,city,nation from users",3)

Name 		City 		Nation

Jason 		Regina 		Canada

Gordan 		Surrey 		UK

Harry 		Denver 		US

#### ~ Thanks! <br><br> Harpreet Singh